[submodule "Task1_Basic_Java"]
	path = Task1_Basic_Java
	url = git@github.com:artemstukalenko/Task1_Basic_Java.git
[submodule "Task2_Java_Game"]
	path = Task2_Java_Game
	url = git@github.com:artemstukalenko/Task2_Java_Game.git
[submodule "Task2_Testing"]
	path = Task2_Testing
	url = git@github.com:artemstukalenko/Task2_Testing.git
[submodule "Task3_Javagame_With_Tests"]
	path = Task3_Javagame_With_Tests
	url = git@github.com:artemstukalenko/Task3_Javagame_With_Tests.git
[submodule "Task4_DataInputForm"]
	path = Task4_DataInputForm
	url = git@github.com:artemstukalenko/Task4_DataInputForm.git
[submodule "Task5_DataInputFormRefactor"]
	path = Task5_DataInputFormRefactor
	url = git@github.com:artemstukalenko/Task5_DataInputFormRefactor.git
[submodule "Task6_DataInputFormWithException"]
	path = Task6_DataInputFormWithException
	url = git@github.com:artemstukalenko/Task6_DataInputFormWithException.git
[submodule "Task6_CodeFromHabrExceptions"]
	path = Task6_CodeFromHabrExceptions
	url = git@github.com:artemstukalenko/Task6_CodeFromHabrExceptions.git
[submodule "Task7_ObjectMethodsAndImmutable"]
	path = Task7_ObjectMethodsAndImmutable
	url = git@github.com:artemstukalenko/Task7_ObjectMethodsAndImmutable.git
[submodule "AlgorytmTasks"]
	path = AlgorytmTasks
	url = git@github.com:artemstukalenko/AlgorythmTasks.git
[submodule "Task8_Collections"]
	path = Task8_Collections
	url = git@github.com:artemstukalenko/Task8_Collections.git
[submodule "Task9_Streams"]
	path = Task9_Streams
	url = git@github.com:artemstukalenko/Task9_Streams.git
[submodule "Task10_CaloriesCalculator"]
	path = Task10_CaloriesCalculator
	url = git@github.com:artemstukalenko/Task10_CaloriesCalculator.git
[submodule "Project_library"]
	path = Project_library
	url = git@github.com:artemstukalenko/ProjectLibrary.git
